body{
  background-color: #C5A660;
  
}
.App{
  background-color: #fff;
  min-height:500px;
  width: 400px;
  margin: 8px auto;
 
  
  
}

#to-do-form input{
  background-color:#C5A660;
  border: 0; 
  color:#2F6776;
  width: 200px;
  height: 50px;
  margin: 20px;
  padding: 0 20px;
  font-size: 18px;
  border-radius: 10px;
}
#to-do-form input::placeholder{
  color:#2F6776;
}
#to-do-form input:focus{
  outline: none;
}
#to-do-form button{
  height: 50px;
  width: 80px;
  border-radius: 5px;
  border: 0;
  background-color:#2F6776; 
  cursor: pointer;
}
#to-do-form button:focus{
  outline: none;
}
img{
  height: 80px;
  width: 80px;
  align-items: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  
  
}
option{
  background-color:#C5A660;
  border: 0; 
  color:#2F6776;
  width: 200px;
  height: 50px;
  margin: 20px;
  padding: 0 20px;
  font-size: 18px;
  border-radius: 10px;

}
select{
  background-color:#C5A660;
  border: 0; 
  color:#2F6776;
  width: 200px;
  height: 50px;
  margin: 20px;
  padding: 0 20px;
  font-size: 18px;
  border-radius: 10px;
}

